{% extends "layouts/base.html" %}

{% block title %} Sale Orders {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title"> Sale Orders Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Customer Name
                                    </th>
                                    <th>
                                        Order Date
                                    </th>
                                    <th class="text-center">
                                        Total Amount
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            {{ order.id }}
                                        </td>
                                        <td>
                                            {{ order.customer_name }}
                                        </td>
                                        <td>
                                            {{ order.order_date }}
                                        </td>
                                        <td class="text-center">
                                            {{ order.total_amount }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a href="{{ url_for('sale_blueprint.create_order') }}">
                                <button class="btn btn-fill btn-primary">Create Order</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}